/*Header*/
@keyframes logo {
  0% {
    transform: scale(2);
    visibility: visible;
    position: absolute;
    left: 0%;
    top: 45%;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  100% {
    visibility: visible;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 100%;
    right: 0;
    top: 45%;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}
@keyframes chargement {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: cursive, sans-serif;
}
body .logo_chargement {
  z-index: 0%;
  animation: logo 2s;
  position: absolute;
  top: 45%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  visibility: hidden;
}

#corps {
  animation: chargement 2s;
}

.logo_div {
  box-shadow: 0 4px 6px -6px #222;
  padding-bottom: 30px;
  padding-top: 15px;
  position: relative;
}

.logo {
  display: block;
  width: 24%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.Recherche {
  width: 100%;
  height: 40px;
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #e6e6e6;
}
.Recherche .searchbar {
  border: none;
  height: 40px;
  font-size: 21px;
  width: 15%;
  background-color: #e6e6e6;
  outline: none;
}
.Recherche .fa-map-marker-alt {
  margin-right: 10px;
  font-size: 30px;
}

.header3 {
  text-align: center;
  padding-bottom: 90px;
  padding-top: 20px;
  background-color: #F2F2F2;
}
.header3 h1 {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 40px;
  margin-top: 30px;
}
.header3 h2 {
  font-size: 27px;
  font-weight: 500;
  opacity: 70%;
  margin-bottom: 50px;
}
.header3 .Explorez a {
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  padding-left: 25px;
  padding-bottom: 20px;
  padding-top: 17px;
  padding-right: 25px;
  border-radius: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.342);
}
.header3 .Explorez a:hover {
  box-shadow: 0px 0px 4px black;
  background: linear-gradient(#ff88dd, #9964db);
}

/*Nav*/
nav {
  margin-bottom: 20px;
  border-bottom: solid black 1px;
}
nav h2 {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-left: 5px;
  margin-right: 5px;
  width: 35%;
  list-style-type: none;
  display: flex;
}
nav ul li a {
  font-weight: 750;
  font-size: 22px;
  border-radius: 21px;
  background-color: #F2F2F2;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  align-items: center;
  display: flex;
  text-decoration: none;
  color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.418);
}
nav ul li b {
  background-color: #9356DC;
  color: white;
  padding: 4px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  position: relative;
  right: 10px;
}
nav ul li i {
  color: rgba(0, 0, 0, 0.507);
  margin-left: 8px;
  margin-right: 18px;
  font-size: 23px;
}

/*Section*/
article {
  background-color: #F2F2F2;
  padding-top: 30px;
  padding-bottom: 35px;
}
article h2 {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}
article .MENUS {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
article .MENUS a {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-decoration: none;
  color: black;
  margin-bottom: 30px;
  height: 315px;
  width: 40%;
  border-radius: 20px;
}
article .MENUS a .block {
  width: 100%;
  height: 315px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
}
article .MENUS a .block img {
  width: 100%;
  height: 215px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
article .MENUS a .block h3 {
  position: relative;
  bottom: 15px;
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 0px;
  margin-left: 10px;
}
article .MENUS a .block p {
  position: relative;
  bottom: 15px;
  font-size: 22px;
  margin-left: 10px;
  margin-top: 4px;
}
article .MENUS a:hover {
  box-shadow: 0px 4px 8px black;
}
article .MENUS .coeur {
  width: 40px;
  height: 20px;
  position: relative;
  top: 245px;
  right: 10%;
}
article .MENUS .coeur:hover {
  cursor: pointer;
}
article .MENUS .coeur:hover .fa-regular {
  transition: all 1s;
  opacity: 0;
}
article .MENUS .coeur:hover .fa-solid {
  transition: all 0.3s;
  opacity: 1;
  background-size: 100% 100%;
}
article .MENUS .coeur .fa-regular {
  position: relative;
  font-size: 30px;
  bottom: 30px;
}
article .MENUS .coeur .fa-solid {
  position: relative;
  background: -moz-linear-gradient(top, #FF79DA, #9356DC);
  background: -webkit-linear-gradient(top, #FF79DA, #9356DC);
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  font-size: 30px;
  background-size: 1px 1px;
  opacity: 0;
}

footer {
  background-color: #363636;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}
footer img {
  width: 130px;
  margin-left: 30px;
  filter: invert(100%);
}
footer li {
  list-style-type: none;
  margin-bottom: 5px;
}
footer li a {
  color: white;
  font-size: 20px;
  align-items: center;
  text-decoration: none;
}
footer li .fa-utensils {
  font-size: 16px;
  margin-right: 7px;
}
footer li .fa-hands-helping {
  font-size: 12px;
  margin-right: 5px;
}

@media (min-width: 799px) and (max-width: 1100px) {
  nav ul li {
    width: 65%;
  }

  .Recherche .searchbar {
    width: 25%;
  }
}
@media screen and (max-width: 905px) {
  article .MENUS a .block h3 {
    font-size: 20px;
  }
  article .MENUS a .block p {
    font-size: 18px;
  }
}

/*# sourceMappingURL=acceuil_desktop.css.map */
