body {
  font-family: cursive, sans-serif;
}

@keyframes fadein {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
header .logo {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
header .image_principale {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
header a {
  position: relative;
  top: 25px;
  font-size: 30px;
}
header a i {
  font-size: 100%;
  color: #363636;
}

section {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  bottom: 70px;
  background-color: #eeeeee;
  padding-bottom: 90px;
  margin-bottom: -70px;
}
section h1 {
  font-weight: 700;
  font-size: 40px;
  margin-left: 10px;
  padding-top: 40px;
}
section .coeur {
  width: 40px;
  height: 20px;
  position: absolute;
  right: 10%;
  top: 50px;
}
section .coeur:hover {
  cursor: pointer;
}
section .coeur:hover .fa-regular {
  transition: all 1s;
  opacity: 0;
}
section .coeur:hover .fa-solid {
  transition: all 0.3s;
  opacity: 1;
  background-size: 100% 100%;
}
section .coeur .fa-regular {
  position: relative;
  font-size: 30px;
  bottom: 30px;
}
section .coeur .fa-solid {
  position: relative;
  background: -moz-linear-gradient(top, #FF79DA, #9356DC);
  background: -webkit-linear-gradient(top, #FF79DA, #9356DC);
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  font-size: 30px;
  background-size: 0px 0px;
  opacity: 0;
}
section Article {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 80px;
  white-space: nowrap;
}
section Article .ENTREES h2 {
  font-size: 22px;
  position: relative;
  bottom: 10px;
  font-weight: 300;
}
section Article .ENTREES .border_bottom {
  background-color: #99E2D0;
  height: 4px;
  width: 50px;
  position: relative;
  bottom: 20px;
}
section Article .ENTREES .block {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.144);
  border-radius: 25px;
  height: 80px;
  position: relative;
  background-color: white;
  overflow: hidden;
  margin-bottom: 10px;
  animation: fadein 0.8s;
}
section Article .ENTREES .block .animation {
  background-color: #99E2D0;
  height: 95px;
  width: 23%;
  position: relative;
  bottom: 115px;
  left: 100%;
  transition: all 1s;
}
section Article .ENTREES .block .animation i {
  position: relative;
  font-size: 25px;
  top: 30px;
  left: 30%;
  color: white;
}
section Article .ENTREES .block h3 {
  width: 80%;
  font-size: 21px;
  margin-left: 15px;
  padding-top: 5px;
  position: relative;
  bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
section Article .ENTREES .block p {
  margin-left: 15px;
  margin-top: -20px;
  position: relative;
  bottom: 20px;
}
section Article .ENTREES .block .Ingredients {
  width: 80%;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
section Article .ENTREES .block .Prix {
  position: relative;
  left: 82%;
  bottom: 44px;
  font-size: 17px;
  font-weight: 800;
  transition: all 1s;
}
section Article .ENTREES .block:hover {
  cursor: pointer;
}
section Article .ENTREES .block:hover .animation {
  transition: all 1s;
  left: 81%;
}
section Article .ENTREES .block:hover .animation i {
  transform: rotate(360deg);
  transition: all 1s;
}
section Article .ENTREES .block:hover h3 {
  width: 50%;
}
section Article .ENTREES .block:hover .Ingredients {
  width: 50%;
}
section Article .ENTREES .block:hover .Prix {
  transform: translateX(-17%);
  transition: all 1s;
}
section Article .ENTREES .block_1 {
  animation-delay: 0.2s;
  opacity: 0;
  animation-fill-mode: forwards;
}
section Article .ENTREES .block_2 {
  animation-delay: 0.4s;
  opacity: 0;
  animation-fill-mode: forwards;
}
section Article .ENTREES .block_3 {
  animation-delay: 0.6s;
  opacity: 0;
  animation-fill-mode: forwards;
}
section Article .ENTREES .block_4 {
  animation-delay: 0.8s;
  opacity: 0;
  animation-fill-mode: forwards;
}
section Article .PLATS {
  margin-top: 50px;
}
section Article .PLATS h2 {
  font-size: 22px;
  position: relative;
  bottom: 10px;
  font-weight: 300;
}
section Article .PLATS .border_bottom {
  background-color: #99E2D0;
  height: 4px;
  width: 50px;
  position: relative;
  bottom: 20px;
}
section Article .PLATS .block {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.144);
  border-radius: 25px;
  height: 80px;
  position: relative;
  background-color: white;
  overflow: hidden;
  margin-bottom: 10px;
  animation: fadein 0.8s;
}
section Article .PLATS .block .animation {
  background-color: #99E2D0;
  height: 95px;
  width: 23%;
  position: relative;
  bottom: 115px;
  left: 100%;
  transition: all 1s;
}
section Article .PLATS .block .animation i {
  position: relative;
  font-size: 25px;
  top: 30px;
  left: 30%;
  color: white;
}
section Article .PLATS .block h3 {
  width: 80%;
  font-size: 21px;
  margin-left: 15px;
  padding-top: 5px;
  position: relative;
  bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
section Article .PLATS .block p {
  margin-left: 15px;
  margin-top: -20px;
  position: relative;
  bottom: 20px;
}
section Article .PLATS .block .Ingredients {
  width: 80%;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
section Article .PLATS .block .Prix {
  position: relative;
  left: 82%;
  bottom: 44px;
  font-size: 17px;
  font-weight: 800;
  transition: all 1s;
}
section Article .PLATS .block:hover {
  cursor: pointer;
}
section Article .PLATS .block:hover .animation {
  transition: all 1s;
  left: 81%;
}
section Article .PLATS .block:hover .animation i {
  transform: rotate(360deg);
  transition: all 1s;
}
section Article .PLATS .block:hover h3 {
  width: 50%;
}
section Article .PLATS .block:hover .Ingredients {
  width: 50%;
}
section Article .PLATS .block:hover .Prix {
  transform: translateX(-17%);
  transition: all 1s;
}
section Article .PLATS .block_1 {
  animation-delay: 0.2s;
  opacity: 0;
  animation-fill-mode: forwards;
}
section Article .PLATS .block_2 {
  animation-delay: 0.4s;
  opacity: 0;
  animation-fill-mode: forwards;
}
section Article .PLATS .block_3 {
  animation-delay: 0.6s;
  opacity: 0;
  animation-fill-mode: forwards;
}
section Article .PLATS .block_4 {
  animation-delay: 0.8s;
  opacity: 0;
  animation-fill-mode: forwards;
}
section Article .DESSERTS {
  margin-top: 50px;
}
section Article .DESSERTS h2 {
  font-size: 22px;
  position: relative;
  bottom: 10px;
  font-weight: 300;
}
section Article .DESSERTS .border_bottom {
  background-color: #99E2D0;
  height: 4px;
  width: 50px;
  position: relative;
  bottom: 20px;
}
section Article .DESSERTS .block {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.144);
  border-radius: 25px;
  height: 80px;
  position: relative;
  background-color: white;
  overflow: hidden;
  margin-bottom: 10px;
  animation: fadein 0.8s;
}
section Article .DESSERTS .block .animation {
  background-color: #99E2D0;
  height: 95px;
  width: 23%;
  position: relative;
  bottom: 115px;
  left: 100%;
  transition: all 1s;
}
section Article .DESSERTS .block .animation i {
  position: relative;
  font-size: 25px;
  top: 30px;
  left: 30%;
  color: white;
}
section Article .DESSERTS .block h3 {
  width: 80%;
  font-size: 21px;
  margin-left: 15px;
  padding-top: 5px;
  position: relative;
  bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
section Article .DESSERTS .block p {
  margin-left: 15px;
  margin-top: -20px;
  position: relative;
  bottom: 20px;
}
section Article .DESSERTS .block .Ingredients {
  width: 80%;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
section Article .DESSERTS .block .Prix {
  position: relative;
  left: 82%;
  bottom: 44px;
  font-size: 17px;
  font-weight: 800;
  transition: all 1s;
}
section Article .DESSERTS .block:hover {
  cursor: pointer;
}
section Article .DESSERTS .block:hover .animation {
  transition: all 1s;
  left: 81%;
}
section Article .DESSERTS .block:hover .animation i {
  transform: rotate(360deg);
  transition: all 1s;
}
section Article .DESSERTS .block:hover h3 {
  width: 50%;
}
section Article .DESSERTS .block:hover .Ingredients {
  width: 50%;
}
section Article .DESSERTS .block:hover .Prix {
  transform: translateX(-17%);
  transition: all 1s;
}
section Article .DESSERTS .block_1 {
  animation-delay: 0.2s;
  opacity: 0;
  animation-fill-mode: forwards;
}
section Article .DESSERTS .block_2 {
  animation-delay: 0.4s;
  opacity: 0;
  animation-fill-mode: forwards;
}
section Article .DESSERTS .block_3 {
  animation-delay: 0.6s;
  opacity: 0;
  animation-fill-mode: forwards;
}
section Article .DESSERTS .block_4 {
  animation-delay: 0.8s;
  opacity: 0;
  animation-fill-mode: forwards;
}
section .Commander_div {
  text-align: center;
  position: relative;
  top: 60px;
}
section .Commander_div .Commander {
  font-weight: 450;
  font-size: 20px;
  text-decoration: none;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 16px;
  padding-bottom: 20px;
  padding-left: 55px;
  padding-right: 55px;
  border-radius: 36px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.342);
  color: white;
}
section .Commander_div .Commander:hover {
  box-shadow: 0px 0px 4px black;
  background: linear-gradient(#ff88dd, #9964db);
}

footer {
  background-color: #363636;
  padding-bottom: 30px;
  padding-top: 30px;
}
footer img {
  width: 130px;
  margin-left: 30px;
  filter: invert(100%);
}
footer li {
  list-style-type: none;
  margin-bottom: 5px;
}
footer li a {
  color: white;
  font-size: 20px;
  align-items: center;
  text-decoration: none;
}
footer li .fa-utensils {
  font-size: 16px;
  margin-right: 7px;
}
footer li .fa-hands-helping {
  font-size: 12px;
  margin-right: 5px;
}

@media screen and (min-width: 700px) {
  header a {
    font-size: 35px;
    top: 35px;
  }
}
@media screen and (max-width: 400px) {
  section h1 {
    width: 70%;
    font-size: 25px;
  }
  section .coeur .fa-regular {
    font-size: 22px;
  }
  section .coeur .fa-solid {
    font-size: 22px;
    bottom: 6px;
  }
  section Article .MENU h2 {
    font-size: 20px;
  }
  section Article .MENU .block h3 {
    font-size: 20px;
    bottom: 10px;
    width: 70%;
  }
  section Article .MENU .block p {
    bottom: 10px;
  }
  section Article .MENU .block .Ingredients {
    width: 70%;
    font-size: 19px;
  }
  section Article .MENU .block .Prix {
    font-size: 16px;
    bottom: 33px;
    left: 75%;
  }
  section .Commander_div .Commander {
    font-size: 15px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media screen and (max-width: 240px) {
  header .logo {
    width: 120px;
  }

  Section Article .MENU .block .animation {
    bottom: 97px;
  }
  Section Article .MENU .block h3 {
    font-size: 17px;
    width: 50%;
  }
  Section Article .MENU .block .Ingredients {
    font-size: 15px;
    width: 50%;
  }
  Section Article .MENU .block .Prix {
    left: 67%;
    font-size: 15px;
    bottom: 27px;
  }
}

/*# sourceMappingURL=menu.css.map */
