
body{
    font-family: cursive, sans-serif;
}
@keyframes fadein {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    50%{
        opacity: 0.6;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
   }
   
@mixin Blocks {
    h2{
        font-size: 22px;
        position: relative;
        bottom: 10px;
        font-weight: 300;
    }
    .border_bottom{
        background-color: #99E2D0;
        height: 4px;
        width: 50px;
        position: relative;
        bottom: 20px;
    }
    .block{
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.144);
        border-radius: 25px;
        height: 80px;
        position: relative;
        background-color: white;
        overflow: hidden;
        margin-bottom: 10px;
        animation: fadein 0.8s;
        .animation{
            background-color: #99E2D0;
            height: 95px;
            width: 23%;
            position: relative;
            bottom: 125px;
            left: 100%;
            transition: all 1s;
            i{
                position: relative;
                font-size: 25px;
                top: 30px;
                left: 30%;
                color: white;
            }
        }
        h3{
            width: 80%;
            font-size: 21px;
            margin-left: 15px;
            padding-top: 5px;
            position: relative;
            bottom: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p{
            margin-left: 15px;
            margin-top: -20px;
            position: relative;
            bottom: 20px;
            
        }
        .Ingredients{
            width: 80%;
            font-size: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .Prix{
            position: relative;
            left: 82%;
            bottom: 44px;
            font-size: 17px;
            font-weight: 800;
            transition: all 1s;
        }
        &:hover{
            cursor: pointer;
            .animation{
                transition: all 1s;
                left: 81%;
                i{
                    transform: rotate(360deg);
                    transition: all 1s;
                }
            }
            h3{
                width: 50%;
            }
            .Ingredients{
                width: 50%;
            }
            .Prix{
                transform: translateX(-17%);
                transition: all 1s;
            }
        }
    }
    @for $i from 1 through 4 {
        .block_#{$i} {
            animation-delay: 0.2s * $i;
            opacity: 0;
            animation-fill-mode: forwards;
        }
    }
}
header{
    
    .logo{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    .image_principale{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    a{
        position: relative;
        top: 25px;
        font-size: 30px;
        i{
            font-size: 100%;
            color: rgb(54, 54, 54);
        }
    }
}
section{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    bottom: 70px;
    background-color: rgb(238, 238, 238);
    padding-bottom: 90px;
    margin-bottom: -70px;
    h1{
        font-weight: 700;
        font-size: 40px;
        margin-left: 10px;
        padding-top: 40px;
    }
    .coeur{
        width: 40px;
        height: 20px;
        position: absolute;
        right: 10%;
        top: 50px;
        &:hover{
            cursor: pointer;
            .fa-regular{
                transition: all 1s;
                opacity: 0;
            }
            .fa-solid{
                transition: all 0.3s;
                opacity: 1;
                background-size: 100% 100%;
            }
        }
        .fa-regular{
            position: relative;
            font-size: 30px;
            bottom: 30px;
        }
        .fa-solid{
            position: relative;
            background:-moz-linear-gradient(top, #FF79DA , #9356DC ); 
            background: -webkit-linear-gradient(top, #FF79DA ,#9356DC ); 
            background: linear-gradient(to bottom, #FF79DA ,#9356DC );
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color:transparent;
            display: inline;
            font-size: 30px;
            background-size: 0px 0px;
            opacity: 0;
        }
    }
    Article{
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 80px;
        white-space: nowrap;
        .ENTREES{
            @include Blocks;
        }
        .PLATS{
            margin-top: 50px;
            @include Blocks;
        }
        .DESSERTS{
            margin-top: 50px;
            @include Blocks;
        }
    }
    .Commander_div{
        text-align: center;
        position: relative;
        top: 60px;
        .Commander{
            font-weight: 450;
            font-size: 20px;
            text-decoration: none;
            background: linear-gradient(#FF79DA,#9356DC);
            padding: 16px;
            padding-bottom: 20px;
            padding-left: 55px;
            padding-right: 55px;
            border-radius: 36px;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.342);
            color: white;
            &:hover{
                box-shadow: 0px 0px 4px black;
                background: linear-gradient(#ff88dd, #9964db);
            }
        }
    }
}
footer{
    background-color: rgb(54, 54, 54);
    padding-bottom: 30px;
    padding-top: 30px;
    img{
        width: 130px;
        margin-left: 30px;
        filter: invert(100%);
    }
    li{
        list-style-type: none;
        margin-bottom: 5px;
        a{
            color: white;
            font-size: 20px;
            align-items: center;
            text-decoration: none;
        }
        .fa-utensils{
            font-size: 16px;
            margin-right: 7px;
        }
        .fa-hands-helping{
            font-size: 12px;
            margin-right: 5px;
        }
    }
}
@media screen and (min-width: 700px){
        header{
            a{
                font-size: 35px;
                top: 35px;
            }
        }
    }

@media screen and (max-width: 400px){
    section{
        h1{
            width: 70%;
            font-size: 25px;
        }
        .coeur{
            .fa-regular{
                font-size: 22px;
            }
            .fa-solid{
                font-size: 22px;
                bottom: 6px;
            }
        }
        Article{
            .MENU{
                h2{
                    font-size: 20px;
                }
                .block{
                    h3{
                        font-size: 20px;
                        bottom: 10px;
                        width: 70%;
                    }
                    p{
                        bottom: 10px;
                    }
                    .Ingredients{
                        width: 70%;
                        font-size: 19px;
                    }
                    .Prix{
                        font-size: 16px;
                        bottom: 33px;
                        left: 75%;
                    }
                }
            }
        }
        .Commander_div{
            .Commander{
                font-size: 15px;
                padding-left: 35px;
                padding-right: 35px;
            }
        }
    }
}
@media screen and (max-width: 240px){
    header{
        .logo{
            width: 120px;
        }
    }
    Section{
        Article{
            .MENU{
                .block{
                    .animation{
                        bottom: 97px;
                    }
                    h3{
                        font-size: 17px;
                        width: 50%;
                    }
                    .Ingredients{
                        font-size: 15px;
                        width: 50%;
                    }
                    .Prix{
                        left: 67%;
                        font-size: 15px;
                        bottom: 27px;
                    }
                }
            }
        }
    }
}